<script setup lang="ts">
import { computed } from 'vue';
import { useGDIStore } from '../stores/gdi';
import WorldMap from '../components/WorldMap.vue';
import TreeMap from '../components/TreeMap.vue';
import { CdxCombobox } from '@wikimedia/codex';

const gdiStore = useGDIStore();

const mapData = computed(() => {
    return gdiStore.dataForWorldMap;
});

const treemapData = computed(() => {
    return gdiStore.dataForTreeMap;
});
</script>

<template>
    <cdx-combobox
        v-model:selected="gdiStore.metric"
        :menu-items="gdiStore.metrics"
        placeholder="Type or choose a metric"
    />

    <WorldMap title="Test" :sourceData="mapData"/>
    <TreeMap :sourceData="treemapData"/>
</template>
