<script setup lang="ts">
// imports for vue functionality, echarts setup, and geo stuff
import { computed } from 'vue';
import { registerMap, use } from 'echarts/core';
import { CanvasRenderer } from 'echarts/renderers';
import { MapChart } from 'echarts/charts';
import {
    TitleComponent, TooltipComponent, ToolboxComponent,
    VisualMapComponent, GeoComponent,
} from 'echarts/components';
import VChart from 'vue-echarts'
import { feature } from 'topojson-client';
import d3Array from 'd3-array';
import d3Geo from 'd3-geo';
import { geoEckert4 } from 'd3-geo-projection';
import borders from '../assets/data/world-50m';
import countryCodes from '../assets/data/country-codes';

// defines the properties that this component takes, as in:
// <WorldMap title="Some Title" :sourceData="[Object someValidWorldMapData]"/>
const props = defineProps<{
    title: string,
    sourceData?: object,
}>();

// register functionality with echarts
use([
    CanvasRenderer, MapChart,
    TitleComponent, TooltipComponent, ToolboxComponent,
    VisualMapComponent, GeoComponent,
]);

// transform the smaller topojson format into GeoJSON
const features = feature(borders, borders.objects.countries);
// register that as the map named "world" with echarts
registerMap('world', features);
// instantiate an eckert4 projection
const eckert4 = geoEckert4();

// echarts option object to be changed as data updates
let option = computed(() => {
        if (!props.sourceData.length) { return {}; }

        // get the min and max value of this metric
        // we could further refine this by getting a distribution and
        // automatically choosing a log scale
        const { min, max } = props.sourceData.reduce((a, b) => ({
            min: Math.min(a.min, b.value),
            max: Math.max(a.max, b.value)
        }), { min: 100000, max: 0 });

        return {
            title: {
                text: props.title,
                subtext: '',
                sublink: '',
            },
            tooltip: {
                trigger: 'item',
                formatter: '{b}<br/>{c}',
            },
            toolbox: {
                show: true,
                orient: 'vertical',
                left: 'right',
                top: 'center',
                feature: {
                    saveAsImage: { show: true }
                }
            },
            visualMap: {
                type: 'piecewise',
                min: min,
                max: max,
                text: ['High', 'Low'],
                realtime: false,
                calculable: true,
                color: ['orangered', 'yellow', 'lightskyblue']
            },
            series: [ {
                map: 'world',
                type: 'map',
                data: props.sourceData,
                projection: {
                    project: (pt) => eckert4(pt),
                    unproject: (pt) => eckert4.invert(pt),
                    stream: eckert4.stream,
                },
                emphasis: {
                    itemStyle: { label: { show: true } },
                },
                emphasis: {
                    itemStyle: {
                        color: 'skyblue',
                    },
                },
            } ],
        };
    });

</script>

<template>
    <div class="worldMap">
        <v-chart :option="option"/>
    </div>
</template>

<style scoped>
.worldMap { height: 600px; width: 800px; }
</style>
