<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import { useGDIStore } from './stores/gdi';

const gdiStore = useGDIStore();
gdiStore.load();
</script>

<template>
    <header>
        <nav>
            <RouterLink to="/">Dashboard</RouterLink>
            |
            <RouterLink to="/about">About</RouterLink>
        </nav>
    </header>

    <RouterView />
</template>

<style scoped>
.router-link-active { text-decoration: none; font-size: 1.3em; }
</style>
